@charset: 'utf-8';

body
{
  background-color: #FFFFFE;
  color: #AAA;
  text-align: justify;
  font-family: Arial, sans-serif;
  margin: 2em;
  max-width: 680px;
  font-size: xx-small;
}
body h1, h2, h3
{
  font-size: x-large;
}
body hr { width: 96%; }
body a
{
  text-decoration: underline;
  color: #777;
}
body a:hover
{
  text-decoration: underline;
  color: #333;
}
body pre { margin-left: 2em; }

.head
{
  color: #7D9EC0;
}
.head h1, h2, h3
{
  margin: 1em 2em 1em 1em;
}
.head p, a { margin: 1em; }

.navbar {  background-color: #FFF8DC; }

.dynamic
{ 
  background-color: #F0F8FF; 
}
.dynamic h1, h2, h3
{ 
  color: #7D9EC0;
  margin: 1em 2em 1em 0.5em;
}
.dynamic p
{
  margin: 1em 2em 1em 1em;
}
.dynamic ul { margin: 0.5em; }
